{% include "base.html" %}
{% include "nav.html" %}
<body>
<div class="container projects">

<h2 class="sub-header">Section title</h2>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Paper id</th>
				<th>Original title</th>
				<th>Normalized title</th>
				<th>Publish year</th>
				<th>Publish date</th>
				<th>DOI</th>
				<th>Original venue name</th>
				<th>Normalized venue name</th>
				<th>Jornal id</th>
				<th>Conference id</th>
				<th>Paper rank</th>
			</tr>
		</thead>
		<tbody>
		{% for paper in papers %}
		<tr>
			<td>{{paper.paper_id}}</td>			
			<td>{{paper.original_title}}</td>
			<td>{{paper.normalized_title}}</td>
			<td>{{paper.publish_year}}</td>
			<td>{{paper.publish_date}}</td>
			<td>{{paper.DOI}}</td>
			<td>{{paper.original_venue_name}}</td>
			<td>{{paper.normalized_venue_name}}</td>
			<td>{{paper.jornal_id}}</td>
			<td>{{paper.conference_id}}</td>
			<td>{{paper.paper_rank}}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
</div>
</body>
              